---
layout: layouts/base.njk
---

<div class="message-box">
	<p>👋 Hi, I'm Suraj Jadhav from Mumbai, India. With 7+ years of experience in web development, I'm passionate about PHP and JavaScript, specializing in Laravel and Vue.js.</p>
</div>

{{ content | safe }}
